---
import Layout from "../layouts/Root.astro"
---

<Layout title="Cristian Chitiva">
	<main>
		<h1 title="404">404</h1>
		<p>Sorry, the page you are looking for does not exist.</p>

		<div class="buttons">
			<a href="/">Go Home</a>
			<button onclick="window.history.back()">Go Back</button>
		</div>
	</main>
</Layout>

<style lang="scss">
	main {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 100vh;
		gap: 1rem;
	}

	h1 {
		font-size: 8rem;
		font-weight: 700;

		animation: glitch 1s linear infinite;

		&:before,
		&:after {
			content: attr(title);
			position: absolute;
			left: 0;
		}

		&:before {
			animation: glitchTop 1s linear infinite;
			clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
		}

		&:after {
			animation: glitchBotom 1.5s linear infinite;
			clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
		}
	}

	.buttons {
		display: flex;
		gap: 1rem;

		a,
		button {
			padding: 0.3rem 1rem;
			border: 1px solid #000;
			border-radius: 0.25rem;
			background-color: #fff;
			color: #000;
			text-decoration: none;
			cursor: pointer;
			transition: background-color 0.3s;
			flex: 1;
			white-space: nowrap;

			&:hover {
				background-color: #000;
				color: #fff;
				border-color: #fff;
			}
		}
	}

	@keyframes glitch {
		2%,
		64% {
			transform: translate(2px, 0) skew(0deg);
		}

		4%,
		60% {
			transform: translate(-2px, 0) skew(0deg);
		}

		62% {
			transform: translate(0, 0) skew(5deg);
		}
	}

	@keyframes glitchTop {
		2%,
		64% {
			transform: translate(2px, -2px);
		}
		4%,
		60% {
			transform: translate(-2px, 2px);
		}
		62% {
			transform: translate(13px, -1px) skew(-13deg);
		}
	}

	@keyframes glitchBotom {
		2%,
		64% {
			transform: translate(-2px, 0);
		}
		4%,
		60% {
			transform: translate(-2px, 0);
		}
		62% {
			transform: translate(-22px, 5px) skew(21deg);
		}
	}
</style>
