<main>
  <h1>About Me</h1>
  <p>
    I&apos;m a passionate robotics engineer with experience in designing and building
    autonomous systems. My expertise includes machine learning, computer vision, and
    control systems.
    <br />
    When I&apos;m not working on robots, you can find me tinkering with new technologies
    or contributing to open-source projects.
  </p>
</main>