---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Contact">
	<main>
		<h1>Contact</h1>

		<p>
			Contact Me I&apos;m always open to new opportunities and collaborations. Feel free to
			reach out!
		</p>

		<ul>
			<li>
				Email: <a href="mailto:me@cristianchitiva.dev">me@cristianchitiva.dev</a>
			</li>
			<li>
				LinkedIn:{" "}
				<a href="https://www.linkedin.com/in/cychitivav">linkedin.com/in/cychitivav</a>
			</li>
			<li>
				GitHub: <a href="https://github.com/cychitivav">github.com/cychitivav</a>
			</li>
			<li>
				Twitter: <a href="https://twitter.com/cchitiva7">twitter.com/cchitiva7</a>
			</li>
		</ul>
	</main>
</Layout>
