<main>
  <h1>Projects</h1>

  <dl>
    <dt>Autonomous Drone</dt>
    <dd>Developed a fully autonomous drone for aerial surveying.</dd>

    <dt>Robot Arm Control</dt>
    <dd>Implemented advanced control algorithms for a 6-DOF robot arm.</dd>

    <dt>Self-Driving Car Simulator</dt>
    <dd>Created a realistic simulator for testing self-driving car algorithms.</dd>
  </dl>
</main>