---

---

<div id="background">
	<div class="me"></div>
	<slot />
</div>

<script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js" defer></script>
<script>
	document.addEventListener("DOMContentLoaded", () => {
		particlesJS.load("background", "/particles.json", function () {
			console.log("callback - particles.js config loaded")
		})
	})
</script>

<style lang="scss">
	#background {
		position: fixed;
		top: 0;
		left: 0;
		// z-index: -1;
		height: 100vh;
		width: 100vw;
	}

	.me {
		position: fixed;
		bottom: 0;
		right: 0;
		z-index: -1;
		height: 100vh;
		width: 60vw;

		background: url("/images/black-white.webp") no-repeat right bottom / contain;
		mask-image: linear-gradient(to right, #0000 20%, #000 55%);
	}
</style>
