---

---

<header>
	<nav>
		<span class="underline"></span>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="#">Experience</a></li>
			<li><a href="#">Projects</a></li>
			<li><a href="#">About Me</a></li>
			<li><a href="#">Projects</a></li>
			<li><a href="#">Get in Touch</a></li>
		</ul>
	</nav>
</header>

<script>
	const links = document.querySelectorAll(
		"nav ul li:not(:last-child) a",
	) as NodeListOf<HTMLAnchorElement>
	const underline = document.querySelector(".underline") as HTMLSpanElement

	links.forEach((link) => {
		link.addEventListener("mouseover", () => {
			underline.style.left = `${link.offsetLeft}px`
			underline.style.width = `${link.offsetWidth}px`
		})
	})
</script>

<style lang="scss">
	header {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		padding: 15px;
		
		position: fixed;
		top: 0;
		left: 0;
		right: 0;

		background: #0000002b;
		backdrop-filter: blur(10px);
		mask-image: linear-gradient(to bottom, #000 70%, #00000000 100%);
		z-index: 2;
	}

	nav,
	ul,
	li {
		display: contents;
		list-style: none;
	}

	li:not(:last-child) a {
		padding: 5px 10px;

		&:hover {
			filter: brightness(1.2);
		}
	}

	li:last-child a {
		border: 1px solid #fff;
		border-radius: 1em;
		padding: 5px 15px;
		margin-left: 10px;
		transition: all 0.3s;

		&:hover {
			background-color: #fff;
			color: #000;
		}
	}

	nav:has(li:not(:last-child):hover) .underline {
		opacity: 1;
		background: linear-gradient(90deg, #2f8872, #006552);
	}

	.underline {
		opacity: 0;
		width: 10px;
		height: 1.5px;
		background-color: transparent;
		align-self: flex-end;
		position: absolute;
		transition: all 0.3s;
		z-index: 100;
	}
</style>
