---
import Me from "./Me.astro"
---

<section>
	<Me />

	<h1>
		I&apos;m <span>Cristian Chitiva</span>
	</h1>
	<h2>Robotics Software Engineer & Fullstack Developer</h2>

	<!-- <a href="/contact"> Contact Me </a> -->
</section>

<style>
	section {
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: min(100svh, 1080px);
		width: min(90%, 1600px);
		position: relative;
	}
	h1 {
		font-size: 3rem;
	}

	h1 span {
		font-size: 4rem;
		font-weight: bold;
		color: #2f8872;
	}

	h2 {
		font-size: 1.25rem;
		margin-bottom: 1rem;
	}

	@media (width <= 768px) {
		section {
			align-items: center;
			justify-content: flex-end;
		}

		h1,
		h2 {
			text-align: center;
			text-wrap: balance;
		}
	}

	@media (prefers-color-scheme: light) {
		h1 span {
			color: #007862;
		}
	}
</style>
