---

---

<div data-particles-id="particles"></div>

<script>
	import { loadFull } from "tsparticles"
	import { tsParticles } from "@tsparticles/engine"
	import type { ISourceOptions } from "@tsparticles/engine"

	import particleOptions from "../assets/particles.json"

	const container: HTMLElement = document.querySelector(`[data-particles-id="particles"]`)

	const loadParticles = async () => {
		console.log("Loading particles")
		await loadFull(tsParticles)

		await tsParticles.load({
			element: container,
			options: particleOptions as ISourceOptions,
		})
	}

	document.addEventListener("astro:page-load", loadParticles)

	// Dark mode detection
	const media = window.matchMedia && window.matchMedia("(prefers-color-scheme: dark)")
	particleOptions.particles.color.value = media.matches ? "#ffffff" : "#000000"
	particleOptions.particles.links.color.value = media.matches ? "#ffffff" : "#000000"

	media?.addEventListener("change", (event) => {
		const newColorScheme = event.matches ? "#ffffff" : "#000000"

		particleOptions.particles.color.value = newColorScheme
		particleOptions.particles.links.color.value = newColorScheme
	})
</script>
