<section id="about">
	<h1>About Me</h1>

	<div class="hr"></div>
	<div class="content">
		<p>
			I&apos;m a passionate robotics engineer with experience in designing and building
			autonomous systems. My expertise includes machine learning, computer vision, and control
			systems.
		</p>
		<p>
			When I&apos;m not working on robots, you can find me tinkering with new technologies or
			contributing to open-source projects.
		</p>
	</div>
</section>

<style>
	section {
		padding: 2rem 0;
		min-height: 50vh;
	}

	h1 {
		font-size: 2rem;
	}

	.hr {
		display: inline-block;
		width: 5rem;
		height: 2px;
		background: linear-gradient(to right, #004236, #2f8872, #004236);
	}

	.content {
		display: inline-flex;
	}
</style>
