---
const { title } = Astro.props
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Personal website of Cristian Chitiva" />
		<meta name="viewport" content="width=device-width" />
		<meta name="author" content="Cristian Chitiva" />

		<link rel="icon" type="image/icon" href="/favicon.ico" />

		<meta name="generator" content={Astro.generator} />
		<ViewTransitions />
		<title>{title}</title>
	</head>

	<body>
		<nav>
			<a href="/">Home</a>

			<ul>
				<li>
					<a href="/projects">Projects</a>
				</li>
				<li>
					<a href="/about">About</a>
				</li>
				<li>
					<a href="/contact">Contact</a>
				</li>
			</ul>
		</nav>

		<slot />
	</body>
</html>

<style is:global lang="scss">
	@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

	* {
		min-width: 0;
		font: inherit;
	}

	*,
	*::before,
	*::after {
		color: inherit;
		box-sizing: border-box;
		margin: 0;
		padding: 0;
	}

	img,
	video,
	svg {
		display: block;
		height: auto;
		max-width: 100%;
	}

	:root {
		height: 100dvh;
		width: 100dvw;
		overflow: hidden;

		font-family: "Roboto", sans-serif;
		font-size: clamp(16px, 1vw, 18px);
		color-scheme: light dark;
	}

	body {
		min-height: 100vh;
		width: 100dvw;
		overflow-x: hidden;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		text-wrap: balance;
	}

	p {
		text-wrap: pretty;
	}

	a {
		text-decoration: none;
	}

	::-webkit-scrollbar {
		width: 5px;
		height: 5px;
	}

	::-webkit-scrollbar-thumb {
		background-color: #d0d0d0;
		border-radius: 2px;
		cursor: pointer;

		background-clip: padding-box;
		border: 2px solid transparent;

		&:hover {
			border-width: 0;
		}
	}

	::selection {
		background-color: #635dff;
		color: #f5f5f5;
	}

	@media (prefers-color-scheme: dark) {
		html {
			color-scheme: dark;
		}
	}
</style>

<style lang="scss">
	body {
		min-height: 100vh;
		width: 100dvw;
		overflow-x: hidden;

		background:
			radial-gradient(farthest-corner at top, #000000 0%, #016e6044 50%) top right/200% 200%,
			#000;
		animation: colorChange 5s infinite alternate;
		color: #fff;
	}

	nav {
		position: sticky;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 1rem 2rem;
	}

	@keyframes colorChange {
		to {
			background-position: top left;
		}
	}
</style>
